{% extends 'base.html.twig' %}



{% block body %}
<div>
    <h1>{{ post.title }} </h1>

    <p>{{ post.lead }}</p>
    <p>{{ post.content }}</p>
    <p><b>Artykuł dodano:</b> {{ post.createdAt| date('H:i:s d/m/Y') }}</p>
    <p><b>Komentarze</b></p>
    {% if app.user %}
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}
        {% else %}
            <p><b>Komentarze mogą dodawać tylko zalogowani użytkownicy: </b>
        <a href='{{ path('fos_user_security_login') }}'>Zaloguj się</a>
        </p>
    {% endif %}


    {% for comment in post.comments  %}
        <div>
            <p>{{ comment.content }}</p><span class="">Dodany: {{ post.createdAt| date('H:i d/h/Y') }}{% if comment.user %}
                    <p>Skomentował: {{ comment.user }}{% endif %}</span></p>
        </div>
    {% endfor %}
</div>


{% endblock %}